@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* font-family: "Alfa Slab One", serif*/
/* font-family: "Inria Sans", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #041E42 0%, #1a3a63 100%);
  font-family: 'Inria Sans', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  min-width: 320px;
  color: #333;
}

/* --- Header Admin --- */
.header-admin {
  background-color: #041E42;
  border-bottom: 1px solid #cc7a00;
}

.contenedor-logo img {
  margin-left: 15px;
  width: 50px;
  height: 50px;
}

.contenedor-texto-logo h3 {
  display: inline-block;
  font-family: "Alfa Slab One", serif;
  color: #c5c5c5;
  letter-spacing: 3px;
}

.contenedor-texto-logo span {
  color: #f89c22;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: 'Inria Sans', sans-serif;
  font-size: small;
  /* color: #ffa502; */
}

.contenedor-usuario span {
  font-size: 16px;
}

.contenedor-usuario strong {
  letter-spacing: 1px;
  text-transform: capitalize;
}

.contenedor-usuario a {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 20px;
  padding: 5px 15px;
  transition: all 0.3s;
}

.contenedor-usuario a:hover {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}


/* --- Footer --- */

footer {
  background-color: rgba(0, 0, 0, 0.3);
  color: #c5c5c5;
}