/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 */

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* font-family: "Alfa Slab One", serif*/
/* font-family: "Inria Sans", sans-serif; */

body {
    margin: 0;
    background-color: #dadada;
}

/* ------------------ header  */

header {
    background-color: #041E42;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    margin-left: 15px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 3px 15px;
    margin: 5px;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffa502;
    border-top: 1px solid #FFDE59;
}

nav ul li a.activo {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffa502;
}

/* ----------------- fin header */


.holder-index {
    max-width: auto;
    margin: 0;

}

.holder {
    max-width: 1024px;
    font-family: "Inria Sans", sans-serif;
    margin: 0 auto;
}

.holder * {
    margin: 0;
}

footer {
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
}
