@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* font-family: "Alfa Slab One", serif*/
/* font-family: "Inria Sans", sans-serif; */

body {
    margin: 0;
    background-color: #dadada;
}

/* ------------------ header  */

header {
    background-color: #041E42;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    margin-left: 15px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 3px 15px;
    margin: 5px;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffa502;
    border-top: 1px solid #FFDE59;
}

nav ul li a.activo {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffa502;
}

/* ----------------- fin header */


.holder-index {
    max-width: auto;
    margin: 0;

}

.holder {
    max-width: 1024px;
    font-family: "Inria Sans", sans-serif;
    margin: 0 auto;
}

.holder * {
    margin: 0;
}

footer {
    background-color: rgba(4, 30, 66, 0.95);
    color: #c5c5c5;
    font-family: "Inria Sans", sans-serif;
    padding: 20px;
    text-align: center;
    font-size: large;
}
