
.portada {
    background-image: url('../../public/img/portada.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: "Inria Sans", sans-serif;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 500px;
}

.portada .logotipo {
    text-align: center;
    padding: 10px;
    margin-top: 4%;
}

.portada .logotipo img {
    filter: drop-shadow(20px 20px 20px #000000);
}

.portada .logotipo h1 {
    font-family: "Alfa Slab One", serif;
    letter-spacing: 10px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
    font-size: 50px;
    font-weight: lighter;
    margin: 0;
}

.portada .logotipo h2 {
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    margin: 20px 0px 10px 0px;
    text-shadow: -1px -1px 50px rgba(0, 0, 0, 1);
    letter-spacing: 1px;
}

.portada p {
    font-weight: lighter;
    color: #cecece;
    font-size: 18px;
    font-style: italic;
    max-width: 600px;
    margin: 0;
    padding: 0px;
    text-align: center;
    text-shadow: 4px 4px 14px rgba(0, 0, 0, 1);
    background-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 10px;
    border-left: 2px solid #cc7a00;
    border-right: 2px solid #cc7a00;

}