.seccion-novedad {
    padding: 40px 20px;
}

.titulo-novedades {
    text-align: center;
    margin-bottom: 50px;
}

.titulo-novedades .subrayado {
    width: 80px;
    height: 4px;
    background-color: #cc7a00;
    margin: 10px auto;
    border-radius: 2px;
}

.novedades-grid {
    /* display: flex; */
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
    padding: 10px;
}

.contenedor-novedad {
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    border: 1px solid #e1e1e1;
}

.contenedor-novedad:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.contenedor-imagen {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.contenedor-imagen  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.contenedor-imagen:hover img {
    transform: scale(1.1);
}

.contenedor-imagen .novedad-tipo {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #cc7a00;
    color: #fff;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: lighter;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.novedad-contenido {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.novedad-fecha {
    font-size: 12px;
    color: #666;
    margin-bottom: 10px;
    display: block;
}

.novedad-titulo {
    font-size: 16px;
    color: #041E42;
    margin-bottom: 12px;
    font-weight: 700;
    line-height: 1.3;
}


.novedad-descripcion {
    font-size: 14px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
    overflow: hidden;
}

.novedad-footer {
    margin-top: auto;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.sin-novedades {
    grid-column: 1 / -1;
    text-align: center;
    padding: 50px;
    color: #888;
    font-style: italic;
}